<!DOCTYPE html>
<html lang="en">
<head>
    <title>Würzburger hotline</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap-theme.min.css">
</head>
<body>

<!-- Modal dialog for creating a ticket -->
<div class="modal fade" id="modalTicket" tabindex="-1" role="dialog" aria-labelledby="Ticket aufnehmen"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="post" id="_formTicket" data-toggle="validator" data-delay="100" data-disable="true"
                  role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Ticket aufnehmen</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="_inputTicketVorname">Vorname<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="_inputTicketVorname"
                                       name="_inputTicketVorname" placeholder="Vorname des Anrufers" required
                                       data-error="Der Vorname des Anrufers wird benötigt">
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="_inputTicketNachname">Nachname<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="_inputTicketNachname"
                                       name="_inputTicketNachname" placeholder="Nachname des Anrufers" required
                                       data-error="Der Nachname des Anrufers wird benötigt">
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="_inputTicketStrasse">Straße / Hausnummer</label>
                        <input type="text" class="form-control" id="_inputTicketStrasse" name="_inputTicketStrasse"
                               placeholder="Straße / Hausnummer">
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label for="_inputTicketPlz">PLZ</label>
                                <input type="text" class="form-control" id="_inputTicketPlz" name="_inputTicketPlz"
                                       placeholder="PLZ" pattern="([0]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{3}">
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="_inputTicketWohnort">Ort</label>
                                <input type="text" class="form-control" id="_inputTicketWohnort"
                                       name="_inputTicketWohnort" placeholder="Wohnort">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="_inputTicketZusatz">Adresszusatz</label>
                        <input type="text" class="form-control" id="_inputTicketZusatz" name="_inputTicketZusatz"
                               placeholder="Adresszusatz, falls vorhanden">
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="_inputTicketTelefon">Telefon<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="_inputTicketTelefon"
                                       name="_inputTicketTelefon" placeholder="Telefonnummer" value="0{{ clid }}"
                                       required>
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="_inputTicketEmail">E-Mail</label>
                                <input type="email" class="form-control" id="_inputTicketEmail" name="_inputTicketEmail"
                                       placeholder="E-Mail">
                                <small class="help-block with-errors"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="_inputTicketAnmerkung">Anliegen<span style="color:red;">*</span></label>
                        <textarea class="form-control" rows="3" id="_inputTicketAnmerkung" name="_inputTicketAnmerkung"
                                  required></textarea>
                        <small class="help-block with-errors"></small>
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="_modalCancel" type="button" class="btn btn-default" data-dismiss="modal">Abbrechen
                    </button>
                    {% if(mode != 'test') %}
                        <button id="_modalSubmit" type="submit" class="btn btn-primary ">Ticket speichern</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Real page source -->
<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <img alt="" class="img-responsive" src="{{ app.request.basepath }}/assets/images/würzburger.png">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <h2>Hier ist der [Vorname] vom Würzburger, wie kann ich dir helfen?</h2>
        </div>
        <div class="col-xs-6">
            <h2 style="color: gray">(Rufnummer des Anrufers: 0{{ clid }})</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12" id="_divAlert">
            <!-- Alert message created at runtime -->
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <form action="{{ app.url_generator.generate('_route_saveAnrufgrund') }}" method="post" id="_formAnrufgrund">
                <div class="form-group">
                    <label for="_inputName">Agentenname</label>
                    <input type="text" class="form-control" id="_inputName" name="_inputName"
                           placeholder="Aliasname des Agenten">
                </div>
                <div class="row">
                    <div class="form-group col-xs-6">
                        <label for="_inputAnrufgrund_Level_1">Anrufgrund</label>
                        <select class="form-control" name="_inputAnrufgrund_Level_1" id="_inputAnrufgrund_Level_1">

                        </select>
                    </div>

                    <div class="form-group col-xs-6">
                        <label for="_inputAnrufgrund_Level_2">&nbsp;</label>
                        <select class="form-control" id="_inputAnrufgrund_Level_2" name="_inputAnrufgrund_Level_2"
                                disabled>

                        </select>
                    </div>
                </div>

                <input type="hidden" id="_inputAnrufgrund" name="_inputAnrufgrund" value="">
                <input type="hidden" id="_inputAnrufgrundZL" name="_inputAnrufgrundZL" value="">
                <input type="hidden" id="_dbID" name="_dbID" value="{{ dbID }}">

                <button type="submit" class="btn btn-primary {% if(mode == 'test') %}disabled{% endif %}"
                        style="display: none" id="_buttonCreateAnruf">Anrufgrund aufnehmen
                </button>
                <button type="button" class="btn btn-primary" style="display: none" id="_buttonCreateTicket">Ticket
                    aufnehmen
                </button>

                <a class="btn btn-success" href="http://sd1.simplypos.de" target="_blank">Bestellinterface öffnen</a>
                <!--<a class="btn btn-success" id="_btnStoreInterface">Bestellinterface öffnen</a>-->
            </form>
            <hr>

            <p>Würzburger Homepage: <a href="https://www.derwuerzburger.de" target="_blank">https://www.derwuerzburger.de</a>
        </div>
        <div>
            {{ popupTop|raw }}
            {{ popupBottom|raw }}
        </div>

        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-12">
                    <p>
                    <div id="popupOben"></div>
                    <div id="popupUnten"></div>
                    </p>
                    <hr>
                </div>
            </div>
            <div class="row" id="_divWeiterleitung" style="display: none">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <a class="btn btn-primary btn-block weiterleitung {% if(mode == 'test') %}disabled{% endif %}"
                               data-wl-command="connect" data-wl-ziel=""><i
                                        class="glyphicon glyphicon-earphone"></i><br>Anruf zur Durchwahl aufbauen</a>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn btn-warning btn-block weiterleitung {% if(mode == 'test') %}disabled{% endif %}"
                               data-wl-command="transfer" data-wl-ziel=""><i
                                        class="glyphicon glyphicon-transfer"></i><br>Anrufer durchstellen</a>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn btn-danger btn-block weiterleitung {% if(mode == 'test') %}disabled{% endif %}"
                               data-wl-command="cancel" data-wl-ziel=""><i class="glyphicon glyphicon-remove"></i><br>Externen
                                Anruf abbrechen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <div id="popupOben"></div>
                    <div id="popupUnten"></div>
                </div>
                <iframe src="{{ externalSite }}" id="iframelogin" name="iframelogin"
                        onload="this.width=screen.width -30;this.height=screen.height-100;"></iframe>
            </div>
        </div>

    </div>
</div>

<!-- Latest compiled and minified jQuery -->
<script src="{{ app.request.basepath }}/assets/js/jquery-1.11.2.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/assets/js/bootbox.min.js"></script>
<script src="{{ app.request.basepath }}/assets/js/validator.js"></script>
<script>

    var store_phone = '{{ store_phone }}';
    var store_kunde = 'Der_Wuerzburger';

    $(document).ready(function () {

        {% if( mode != 'test') %}
        $(".weiterleitung").removeAttr('disabled');
        {% else %}
        $(".weiterleitung").attr('disabled', true);
        {% endif %}

        var _anrufGrund = [
            {
                id: 'Bestellung erfolgreich',
                wl: false,
                items: [
                    {
                        id: 'Neukunde',
                        tb: '',
                        tn: false,
                        ba: 'Anrufe für Bestellaufnahme:davon erfolgreiche Bestellannahme (inkl. derer, die nachträglich storniert werden mussten):davon Neukunden'
                    },
                    {
                        id: 'Bestandskunde',
                        tb: '',
                        tn: false,
                        ba: 'Anrufe für Bestellaufnahme:davon erfolgreiche Bestellannahme (inkl. derer, die nachträglich storniert werden mussten):davon Bestandskunden'
                    }
                ]
            },
            {
                id: 'Bestellung nicht erfolgreich',
                wl: false,
                items: [
                    {
                        id: 'Lieferzeit',
                        tb: '',
                        tn: false,
                        wl: false,
                        ba: 'Anrufe für Bestellaufnahme:davon bewusst abgebrochene Bestellungen:Lieferzeit'
                    },
                    {
                        id: 'Ausverkauft',
                        tb: '',
                        tn: false,
                        wl: false,
                        ba: 'Anrufe für Bestellaufnahme:davon bewusst abgebrochene Bestellungen:Ausverkauft'
                    },
                    {
                        id: 'Öffnungszeiten',
                        tb: '',
                        tn: false,
                        ba: 'Anrufe für Bestellaufnahme:davon bewusst abgebrochene Bestellungen:Öffnungszeiten'
                    },
                    {
                        id: 'Liefergebiet',
                        tb: '',
                        tn: false,
                        ba: 'Anrufe für Bestellaufnahme:davon bewusst abgebrochene Bestellungen:Liefergebiet'
                    },
                    {
                        id: 'Mindestbestellwert',
                        tb: '',
                        tn: false,
                        ba: 'Anrufe für Bestellaufnahme:davon bewusst abgebrochene Bestellungen:Mindestbestellwert'
                    }
                ]
            },
            {
                id: 'Nachfrage Lieferzeit',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich einer Frage zur Lieferzeit seiner Bestellung in den Store verbunden.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon wegen Lieferzeit'
                    },
                    {
                        id: 'Bestellübersicht - Lieferzeit bestätigt - kein Durchstellen',
                        tb: 'Dem Kunden wurde Auskunft zum Status seiner Bestellung erteilt.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon wegen Lieferzeit'
                    }
                ]
            },
            {
                id: 'Fehlende Produkte',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich einer Rückfrage zu einem fehlenden Produkt in den Store verbunden.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon wegen Fehlern nach Lieferung'
                    },
                    {
                        id: 'Store nicht erreichbar - kein Durchstellen',
                        tb: 'Eine Rücksprache mit dem Store war nicht möglich. Der Anruf wurde nicht entgegengenommen. Dem Kunden wurde eine Warengutschrift hinterlegt.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon wegen Fehlern nach Lieferung'
                    },
                    {
                        id: 'Rücksprache mit Store - Warengutschrift - kein Durchstellen',
                        tb: 'Nach Rücksprache mit dem Store wurde dem Kunden eine Warengutschrift hinterlegt.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon wegen Fehlern nach Lieferung'
                    },
                    {
                        id: 'Rücksprache mit Store - wird nachgeliefert - kein Durchstellen',
                        tb: 'Nach Rücksprache mit dem Store wurde dem Kunden eine Nachlieferung zugesagt.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon wegen Fehlern nach Lieferung'
                    },
                    {
                        id: 'Sonstiges',
                        tb: '',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon wegen Fehlern nach Lieferung'
                    }
                ]
            },
            {
                id: 'Änderung Bestellung - wg. Produkt ',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich der Änderung seiner Bestellung in den Store verbunden.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon Nachbestellungen'
                    },
                    {
                        id: 'Rücksprache mit Store - Bestellung geändert - kein Durchstellen',
                        tb: 'Nach Rücksprache mit dem Store wurde die Bestellung geändert.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon Nachbestellungen'
                    }
                ]
            },
            {
                id: 'Änderung Bestellung - wg. Adresse',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich der Änderung seiner Adresse in den Store verbunden.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon Nachbestellungen'
                    },
                    {
                        id: 'Rücksprache mit Store - Adresse geändert - kein Durchstellen',
                        tb: 'Nach Rücksprache mit dem Store wurde die Lieferadresse geändert.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon Nachbestellungen'
                    }
                ]
            },
            {
                id: 'Stornierung',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich der Stornierung seiner Bestellung in den Store verbunden.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon Stornierung'
                    },
                    {
                        id: 'Rücksprache mit Store - Stornierung Bestellung - kein Durchstellen',
                        tb: 'Nach Rücksprache mit dem Store wurde die Bestellung des Kunden storniert.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon Stornierung'
                    },
                    {
                        id: 'Rücksprache mit Store - keine Stornierung möglich - kein Durchstellen',
                        tb: 'Nach Rücksprache mit dem Store wurde dem Kunden mitgeteilt, dass eine Stornierung der Bestellung leider nicht mehr möglich ist.',
                        tn: true,
                        ba: 'Nachfragen zu Bestellungen:davon Stornierung'
                    }
                ]
            },
            {
                id: 'Interne Anrufe - Mitarbeiter',
                wl: true,
                items: [
                    {
                        id: 'Mitarbeiter - Durchgestellt',
                        tb: 'Der Mitarbeiter wurde in den Store verbunden.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Mitarbeitern des Stores'
                    },
                    {
                        id: 'Store nicht erreichbar - kein durchstellen',
                        tb: 'Der Mitarbeiter konnte nicht in den Store verbunden werden. Der Anruf wurde nicht entgegengenommen. Ein Anrufgrund wurde nicht hinterlassen.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Mitarbeitern des Stores'
                    },
                    {
                        id: 'Store nicht erreichbar - Krankmeldung Mitarbeiter - Kein durchstellen',
                        tb: 'Der Mitarbeiter meldet sich krank.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Mitarbeitern des Stores'
                    },
                    {
                        id: 'Store nicht erreichbar - Verspätung Mitarbeiter - Kein durchstellen',
                        tb: 'Der Mitarbeiter teilte mit, dass er sich verspätet.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Mitarbeitern des Stores'
                    },
                    {
                        id: 'Sonstiges',
                        tb: '',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Mitarbeitern des Stores'
                    }
                ]
            },
            {
                id: 'Interne Anrufe - Bewerber',
                wl: true,
                items: [
                    {
                        id: 'Bewerber - Durchgestellt',
                        tb: 'Der Bewerber wurde in den  Store verbunden.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Dienstleistern, Lieferanten, Bewerbern etc.'
                    },
                    {
                        id: 'Store nicht erreichbar - Bewerber  - kein durchstellen',
                        tb: 'Der Beweber konnte nicht in den Store verbunden werden. Der Anruf wurde nicht entgegengenommen. Es wird um Rückruf gebeten. ',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Dienstleistern, Lieferanten, Bewerbern etc.'
                    },
                    {
                        id: 'Bewerber auf Homepage verwiesen',
                        tb: 'Der Beweber wurde auf die Homepage verwiesen.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:Anrufe von Dienstleistern, Lieferanten, Bewerbern etc.'
                    }
                ]
            },
            {
                id: 'Portalbestellungen',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich einer Rückfrage zu seiner Portalbestellung in den Store verbunden.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    },
                    {
                        id: 'Bestellübersicht - Bestätigung der Bestellung - kein Durchstellen',
                        tb: 'Dem Kunden wurde die Bestellung über das Online-Portal bestätigt.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    }
                ]
            },
            {
                id: 'Nachfragen wg. Payment und Co.',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich einer Rückfrage zum Status seines Online-Payment in den Store verbunden .',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    },
                    {
                        id: 'Store nicht erreichbar - kein Durchstellen',
                        tb: 'Dem Kunden konnte keine Auskunft zum Status des Online Payment erteilt werden. Eine Rückmeldung ist notwendig.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    }
                ]
            },
            {
                id: 'Nachfragen wg. Produktqualität',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich einer Rückfrage zur Produktqualität in den Store verbunden.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Feedback / Beschwerde'
                    },
                    {
                        id: 'Store nicht erreichbar - kein durchstellen',
                        tb: 'Eine Rücksprache mit dem Store war nicht möglich. Der Anruf wurde nicht entgegengenommen. Dem Kunden wurde eine Warengutschrift hinterlegt.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Feedback / Beschwerde'
                    },
                    {
                        id: 'Rücksprache mit Store - Warengutschrift - kein Durchstellen',
                        tb: 'Nach Rücksprache mit dem Store wurde dem Kunden eine Warengutschrift hinterlegt.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Feedback / Beschwerde'
                    }
                ]
            },
            {
                id: 'Rückruf Kunde',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich eines vom Store erhaltenen Anrufs in den Store verbunden.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    },
                    {
                        id: 'Store nicht erreichbar - kein durchstellen',
                        tb: 'Der Kunde konnte nicht in den Store verbunden werden. Der Anruf wurde nicht entgegengenommen. Es wird um Rückruf gebeten. ',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    }
                ]
            },
            {
                id: 'Sonstiges',
                wl: true,
                items: [
                    {
                        id: 'Kunden - Durchgestellt',
                        tb: 'Der Kunde wurde bezüglich einer Nachfrage in den Store verbunden.',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    },
                    {
                        id: 'Store nicht erreichbar - kein Durchstellen',
                        tb: 'Der Kunde konnte nicht in den Store verbunden werden. Der Anruf wurde nicht entgegengenommen. Es wird um Rückruf gebeten. ',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    },
                    {
                        id: 'Sonstiges',
                        tb: '',
                        tn: true,
                        ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Infocall (ungünstige, weil unklare Kategorie, die vermieden werden soll)'
                    }
                ]
            },
            {
                id: 'Aufleger',
                items: [],
                tb: '',
                tn: false,
                wl: false,
                ba: 'Sonstige Anrufe inkl. abgebrochene Anrufe:davon Abgebrochene Anrufe'
            }
        ];

        var _anrufGrundSent = false;
        var _ticketSent = false;
        var _needTicket = false;

        function initAnrufgruende() {
            selectClear("#_inputAnrufgrund_Level_1");

            selectAdd("#_inputAnrufgrund_Level_1", "Bitte auswählen", -1);

            for (var id = 0; id < _anrufGrund.length; id++) {
                var item = _anrufGrund[id];

                selectAdd("#_inputAnrufgrund_Level_1", item.id, id);
            }
        }

        initAnrufgruende();

        function selectAdd(elem, label, value) {
            $(elem).append('<option value="' + value + '">' + label + '</option>')
        }

        function selectClear(elem) {
            $(elem).find('option').remove()
        }

        function updateItems(mainID) {
            selectClear("#_inputAnrufgrund_Level_2");

            var sub = _anrufGrund[mainID].items;

            if (sub.length > 0) {
                $("#_inputAnrufgrund_Level_2").prop('disabled', false);
                selectAdd("#_inputAnrufgrund_Level_2", "Bitte wählen", "-1");

                for (var id = 0; id < sub.length; id++) {
                    var item = sub[id];

                    selectAdd("#_inputAnrufgrund_Level_2", item.id, id);
                }
            } else {
                $("#_inputAnrufgrund_Level_2").prop('disabled', true);
            }
        }

        function updateAnrufgrund() {
            var inputLevel_1_ID = $("#_inputAnrufgrund_Level_1").val();
            var inputLevel_2_ID = $("#_inputAnrufgrund_Level_2").val();

            var item = null;
            var grund = null;

            if (inputLevel_1_ID != null && inputLevel_1_ID != -1) {

                if (_anrufGrund[inputLevel_1_ID].wl === true) {
                    $("#_divWeiterleitung").show();
                } else {
                    $("#_divWeiterleitung").hide();
                }

                if (inputLevel_2_ID != null && inputLevel_2_ID != -1) {
                    item = _anrufGrund[inputLevel_1_ID].items[inputLevel_2_ID];
                    grund = _anrufGrund[inputLevel_1_ID].id + ":" + _anrufGrund[inputLevel_1_ID].items[inputLevel_2_ID].id;
                } else if (inputLevel_2_ID != -1) {
                    item = _anrufGrund[inputLevel_1_ID];
                    grund = _anrufGrund[inputLevel_1_ID].id
                } else {
                    $("#_buttonCreateAnruf").hide();
                    $("#_buttonCreateTicket").hide();

                    return;
                }

                if (typeof item !== 'undefined' && item !== null) {
                    $("#_inputAnrufgrund").val(item.ba);
                    $("#_inputAnrufgrundZL").val(grund);

                    $("#_inputTicketAnmerkung").val(item.tb);

                    if (item.tn === true) {
                        $("#_buttonCreateAnruf").hide();
                        $("#_buttonCreateTicket").show();
                    } else {
                        $("#_buttonCreateAnruf").show();
                        $("#_buttonCreateTicket").hide();
                    }

                    console.log(item.ba);
                    console.log(grund);
                }
            } else {
                $("#_buttonCreateAnruf").hide();
                $("#_buttonCreateTicket").hide();
                $("#_divWeiterleitung").hide();
            }
        }

        function createWarning(message) {

            $("#_divAlert").empty();
            $("#_divAlert").append('<div class="alert alert-danger" role="alert">' + message + '</div>');
        }

        function ticketSent() {
            _ticketSent = true;

            $("#_buttonCreateTicket").hide();
            $("#_buttonCreateAnruf").show();
        }

        $("#_inputAnrufgrund_Level_1").change(function () {

            var selectedLevel1 = $(this).val();

            selectClear("#_inputAnrufgrund_Level_2");

            if (selectedLevel1 == -1) {
                $("#_inputAnrufgrund_Level_2").prop('disabled', true);
            } else {
                $("#_inputAnrufgrund_Level_2").prop('disabled', false);
                updateItems(selectedLevel1);
            }

            updateAnrufgrund();
        });

        $("#_inputAnrufgrund_Level_2").change(function () {
            updateAnrufgrund();
        });

        $("#_formTicket").validator().on('submit', function (e) {

            if (e.isDefaultPrevented()) {
                return false;
            }

            var tVorname = $("#_inputTicketVorname").val();
            var tNachname = $("#_inputTicketNachname").val();
            var tStrasse = $("#_inputTicketStrasse").val();
            var tPlz = $("#_inputTicketPlz").val();
            var tWohnort = $("#_inputTicketWohnort").val();
            var tZusatz = $("#_inputTicketZusatz").val();
            var tTelefon = $("#_inputTicketTelefon").val();
            var tEmail = $("#_inputTicketEmail").val();
            var tAnmerkung = $("#_inputTicketAnmerkung").val();

            $("#_modalSubmit").prop('disabled', true);
            $("#_modalCancel").prop('disabled', true);

            $.ajax({
                url: '{{ app.url_generator.generate('_route_saveTicket') }}',
                method: 'post',
                data: {
                    vorname: tVorname,
                    nachname: tNachname,
                    strasse: tStrasse,
                    plz: tPlz,
                    wohnort: tWohnort,
                    zusatz: tZusatz,
                    telefon: tTelefon,
                    email: tEmail,
                    anmerkung: tAnmerkung,
                    id: {{ dbID }},
                },
                success: function (data, textStatus, jqXHR) {

                    if ($.trim(data) == "OK") {
                        bootbox.alert("Das Ticket wurde erfolgreich aufgenommen!", function () {
                            ticketSent();
                            $('#modalTicket').modal('hide');
                        });
                    } else {
                        bootbox.alert("Fehler: " + data, function () {
                            _ticketSent = false;
                        });
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    bootbox.alert("Fehler: Das Ticket konnte nicht erstellt werden!", function () {
                        _ticketSent = false;
                    });
                },
                complete: function (jqXHR, textStatus) {
                    $("#_modalSubmit").prop('disabled', false);
                    $("#_modalCancel").prop('disabled', false);
                }
            });

            return false;
        });

        $("#_formAnrufgrund").submit(function () {

            var mitarbeiter = $("#_inputName").val();
            var anrufgrund = $("#_inputAnrufgrund").val();

            if (mitarbeiter == '') {
                bootbox.alert("Bitte gib deinen Namen ein!", function () {

                });

                return false;
            }

            if (anrufgrund == '') {
                bootbox.alert("Bitte wähle einen Anrufgrund aus!", function () {

                });

                return false;
            }

            var inputLevel_1 = $("#_inputAnrufgrund_Level_1 option:selected").text();
            var inputLevel_2 = $("#_inputAnrufgrund_Level_2 option:selected").text();
            var inputLevel_3 = $("#_inputAnrufgrund_Level_3 option:selected").text();

            if (inputLevel_1 == "Bitte wählen" || inputLevel_2 == "Bitte wählen" || inputLevel_3 == "Bitte wählen") {
                bootbox.alert("Bitte wähle einen Anrufgrund aus!", function () {

                });

                return false;
            }

            if (_needTicket && !_ticketSent) {
                bootbox.alert("Du musst ein Ticket abesenden, bevor der Anrufgrund aufgenommen werden kann!", function () {
                    $("_buttonCreateTicket").show();
                    $("#_buttonCreateAnruf").hide();
                });

                return false;
            }

            _anrufGrundSent = true;
            return true;
        });

        $("#_btnStoreInterface").click(function () {
            console.log("Opening store interface...");
            $('<form target="_blank" method="post" action="http://bmadmin.cloudcontrolled.com/orderdata/selectcustomer"><input type="hidden" name="customerphonesearch" value="0{{ clid }}"><input type="hidden" name="customersearch" value="0{{ clid }}"></form>').appendTo('body').submit();
        });

        $("#_buttonCreateTicket").click(function () {
            $("#modalTicket").modal('show');
        });

        $(".weiterleitung").click(function () {

            var command = $(this).data('wl-command');
            var zielnummer = "{{ store_phone }}";
            var kunde = encodeURI('');

            // console.log(zielnummer);

            var mitarbeiter = "Zentrale";

            var url = "{{ wl_ziel|raw }}&command=" + command + "&wlziel=" + zielnummer +
                "&mitarbeiter=" + mitarbeiter + "&kunde=" + encodeURI(store_kunde);

            $.ajax({
                url: "{{ app.url_generator.generate('_route_call') }}",
                method: 'post',
                data: {
                    url: url,
                    dst: zielnummer,
                    cmd: command,
                    id: {{ dbID }}
                },
                success: function (data, textStatus, jqXHR) {
                    console.log("Call: " + data);
                }
            });
        });

        window.onbeforeunload = function () {

            if (_needTicket === true && _ticketSent === false) {

                createWarning("<strong>Ticket fehlt</strong> Bitte nimm ein Ticket zu deinem Anruf auf!");

                return 'Bitte nimm ein Ticket zu deinem Anruf auf!';
            }

            if (_anrufGrundSent === false) {

                createWarning("<strong>Anrufgrund fehlt</strong> Bitte nimm den Grund des Anrufs auf!");

                return 'Bitte nimm den Grund des Anrufs auf!';
            }
        };
    });
</script>
</body>
</html>