<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">
<head>
    <title>würzburger hotline</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <img alt="" class="img-responsive" src="{{ app.request.basepath }}/assets/images/logo_burgerme.png">
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">Anrufgrund erfolgreich</div>
        <div class="panel-body">
            Vielen Dank, der Anruf wurde erfolgreich bearbeitet. Sie können das Tab/Fenster nun schließen.
        </div>
    </div>
</div>
</body>
</html>